<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block pageTitle %}Quarto online!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    {% block refresh %}{% endblock %}
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('styles/main.css') }}"/>
    {% endblock %}
  </head>
  <body>
    <nav class="blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a class="game-button" href="{{ path('index') }}" class="brand-logo">Quarto online!</a>
      </div>
    </nav>
    <section class="container">
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
