{% extends "base.html.twig" %}
{% block refresh %}
  {% if (canPlay == false) %}
    <meta http-equiv="Refresh" content="2">
  {% endif %}
{% endblock %}
{% block header %}
  <div class="section">
    <h4>Welcome to Quarto online !</h4>
  </div>
{% endblock %}

{% block content %}
  <div class="board">
    <div>
      {% include 'grid.html.twig' with {
        'gameId': game.getIdGame(), 
        'grid': game.getGrid(), 
        'pieceSelected' : game.getSelectedPiece(),
        'winningLine' : game.getWinningLine(),
        'canPlay' : canPlay} %}
    </div>
    <div>
      {% include 'pieces.html.twig' with {
        'gameId': game.getIdGame(), 
        'pieces': pieces, 
        'pieceSelected' : game.getSelectedPiece(),
        'winningLine' : game.getWinningLine(),
        'canPlay' : canPlay} %}
    </div>
    <div>
      {% include 'players.html.twig' with {
        'playerOneTurn': game.getIsPlayerOneTurn(), 
        'pieceSelected' : game.getSelectedPiece(),
        'player1Name' : 'Player 1',
        'player2Name' : 'Player 2',
        'winningLine' : game.getWinningLine(),
        'canPlay' : canPlay,
        'playerId' : playerId} %}
    </div>
  </div>
{% endblock %}
