{% extends "base.html.twig" %}
{% block header %}
  <div class="section">
    <h4>Welcome to Quarto online !</h4>
  </div>
{% endblock %}

{% block content %}
  <div class="section">
    <div class="row">
      <img src="{{ asset('images/board.jpg') }}" alt="Quarto online picture"/>
    </div>
    <div class="row">    
      <a class="btn blue" href="{{ path('game_new') }}">Start a new game</a>
    </div>
  </div>
{% endblock %}
