<div class="pieces-row">
  {% for piece in pieces %}
    <div class="default-box piece-box z-depth-1">
        <span class="piece-value">{{piece.id}}</span>          
    </div>
  {% endfor %}
</div>
