{% extends "base.html.twig" %}
{% block header %}
  <div class="section">
    <h4>Welcome to Quarto online !</h4>
  </div>
{% endblock %}

{% block content %}
  <div class="board">
    <br/>
    <br/>
    <span>The game asked doesn't exists or  asked instruction isn't allowed !!</span>
  </div>
{% endblock %}
