body {
    font-family: Verdana;
    font-size: 18px;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.default-box {
    padding: 4px;
    margin: 2px;
    height: 50px;
    width: 50px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.default-box:hover {
    opacity: 40%;
}

.grid-box {
    background-color: cadetblue;
}

.pieces-row {
    display: flex;
    flex-direction: row;
}

.piece-box {
    background-color: antiquewhite;
}

.piece-box .selected {
    border-color: green;
}
